<div class="flex justify-center mt-4 gap-2">
    <div class="flex justify-center">
        <p-select
            [options]="category"
            [(ngModel)]="selectedCategory"
            (onChange)="dropDownFilterFn()"
            optionLabel="catName"
            placeholder="Products Category"
            [showClear]="true"
        />
    </div>
    <p-selectbutton
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="name"
        optionValue="value"
        unselectable="true"
        styleClass="vs:hidden sm:block"
        [disabled]="buttonunSelect()"
        (onOptionClick)="buttonFilterFn(stateOptions[value - 1].name)"
    />
</div>
