nav {
    background-color: var(--white);
    box-shadow: 0 1px 4px;
    .links li {
        cursor: pointer;
        border-radius: 4px;
        &:hover {
            color: var(--accent-color);
        }
    }


    i {
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
            color: var(--accent-color);
        }
    }

    .live {
        color: var(--accent-color);
        position: relative;
        border-bottom: 0.2rem solid var(--accent-color);
    }
}

@media (max-width: 640px) {
    nav {
        align-items: center;
    }
    .links {
        background-color: var(--white);
        position: fixed;
        width: 100%;
        text-align: center;
        top: 4.7rem;
        padding: 1rem;
        box-shadow: 0 1px 4px;
        ul {
            flex-direction: column;
        }
    }
}

