<h2
    id="scrolltarget"
    class="text-xl text-center mx-10 font-bold bg-yellow-400 p-2"
>
    Contact
</h2>
<div class="contact p-5 text-center my-3 mx-10 bg-slate-50">
    <div class="text-lg leading-loose">
        <p>You Can Contact Us Any Time At :</p>
        <span class="text-green-500 text-2xl"
            ><a href="mailto:anaslst484@gmail.com?subject=Contact"
                >anaslst484&#64;gmail.com</a
            ></span
        >
        <div class="social text-lg flex justify-center mt-10">
            <span class="text-red-600">Our Social Accounts : </span>
            <a href="https://github.com/Anas-MH48"
                ><i class="pi pi-github text-green-700"></i
            ></a>
            <a href=""><i class="pi pi-twitter"></i></a>
            <a href="https://web.facebook.com/profile.php?id=100072036502060"
                ><i class="pi pi-facebook text-blue-700"></i
            ></a>
        </div>
    </div>
</div>
