<h2
    id="contactscrolltarget"
    class="text-xl text-center mx-10 font-bold bg-yellow-400 p-2"
>
    Contact
</h2>
<div class="contact p-5 text-center my-3 mx-10 bg-slate-50">
    <div class="text-lg leading-loose">
        <p>You Can Contact Us Any Time At :</p>
        <span class="text-green-500 text-2xl"
            ><a href="mailto:jimmyjim4821@gmail.com?subject=Contact"
                >jimmyjim4821&#64;gmail.com</a
            ></span
        >
        <div class="social text-lg flex justify-center mt-10">
            <span class="text-red-600">Our Social Accounts : </span>
            <a href="https://github.com/Jim-JM48"
                ><i class="pi pi-github text-green-700"></i
            ></a>
            <a href="https://x.com/SlJimmy48"><i class="pi pi-twitter"></i></a>
            <a href="https://www.linkedin.com/in/jimmy-jim-06718b383/"
                ><i class="pi pi-linkedin text-blue-700"></i
            ></a>
        </div>
    </div>
</div>
