@import "primeicons/primeicons.css";
@import "tailwindcss";

@theme {
    --breakpoint-vs: 359px;
}
* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
