<nav
    (window:resize)="elementWidth($event)"
    class="flex justify-around p-4 text-lg sticky top-0 z-50"
>
    <div class="logo">
        <span class="cursor-pointer text-orange-400 text-2xl">
            <i class="pi pi-shopping-bag"></i>
            Ecom
        </span>
    </div>
    @if(checked || widthscreen() > 640) {
    <div class="links">
        <ul class="flex gap-7 sm:items-center">
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="live"
                    ariaCurrentWhenActive="page"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Home</a
                >
            </li>
            <li
                (click)="navigateComponent('productScrollTarget')"
            >
                <a>Products</a>
            </li>
            <li
                (click)="navigateComponent('contactScrollTarget')"
            >
                <a>Contact</a>
            </li>
        </ul>
    </div>
    }
    <div class="icons space-x-4">
        <i class="pi pi-search"></i>
        <i class="pi pi-user"></i>
        <i
            class="pi pi-shopping-cart relative"
            (click)="navigateCart()"
        >
            @if(cartLength$ | async; as cartLength){
            <p
                class="inline-block text-sm text-gray-900 px-2 bg-orange-500 rounded-xl absolute ml-1 -top-2"
            >
                {{ cartLength <= 9 ? cartLength : "+9" }}
            </p>
            }
        </i>
    </div>
    @if(widthscreen() <= 640) {
        <p-toggleButton
            [(ngModel)]="checked"
            onIcon="pi pi-bars"
            offIcon="pi pi-bars"
            onLabel=""
            offLabel=""
        />
    }
    <p-toast key="fetchDataError" label="Sticky" position="top-center"/>
</nav>
